.pd_top {
  padding-top: 7em !important;
}
.page-title {
  box-shadow: none;
  background: transparent;
  position: relative;
  margin-bottom: 10px !important;
}
.page-title h2 {
  padding: 20px 0 10px;
  margin: 0 20px 20px 0;
  border-bottom: 2px solid #dedede;
  font-size: 20px;
  font-weight: 700;
}
.cat-main-div-first {
  height: 110px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
.cat-main-div {
  height: 70px;
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-stretch: expanded;
  padding: 7px 0 2px 7px;
  font-family: Arial;
  float: left;
  cursor: pointer;
}
.cat-main-div-img {
  float: right;
  margin-top: -55px;
  width: 30%;
}
.font-size-single-line {
  font-size: 1.2em;
  line-height: 18px;
  color: #fff;
}

.hc-1 {
  background-color: #ff0005;
}
.hc-2 {
  background-color: #4c6fff;
}
.hc-3 {
  background-color: #ff66d8;
}
.hc-4 {
  background-color: #bc4bff;
}
.hc-5 {
  background-color: #00900e;
}
.hc-6 {
  background-color: #e8403f;
}
.hc-7 {
  background-color: #bf0055;
}
.hc-8 {
  background-color: #002c8f;
}
.hc-9 {
  background-color: #255c06;
}
.hc-10 {
  background-color: #d24625;
}
.hc-11 {
  background-color: #d830b9;
}
.hc-12 {
  background-color: #42d68c;
}
.hc-13 {
  background-color: #96cc52;
}
.hc-14 {
  background-color: #ea8044;
}
.hc-15 {
  background-color: #006c05;
}
.hc-16 {
  background-color: #77c043;
}
.hc-17 {
  background-color: #b70101;
}
.hc-18 {
  background-color: #ee0d3d;
}
.hc-19 {
  background-color: #007bd1;
}
.hc-20 {
  background-color: #d15400;
}
.hc-21 {
  background-color: #00a81c;
}
.hc-22 {
  background-color: #3b3b3b;
}
.hc-23 {
  background-color: #0096ff;
}
.hc-24 {
  background-color: #ff7800;
}
.hc-25 {
  background-color: #1a60e0;
}
.hc-26 {
  background-color: #d400a5;
}
.hc-27 {
  background-color: #0a4602;
}
.hc-28 {
  background-color: #0e67a8;
}
.hc-29 {
  background-color: #222933;
}
.hc-30 {
  background-color: #ff004e;
}
.hc-31 {
  background-color: #ee0d3d;
}
.hc-32 {
  background-color: #3b49a1;
}
.hc-33 {
  background-color: #0030ff;
}
.cat-main-div-img img {
  margin-top: 19px;
  height: 90px;
}
