<div class="pd_top"></div>
<div class="breadcrumbs">
  <section class="main  w-75  pd_left">
    <div class="row">
      <div class="col-xs-12">
        <h1>Arithmetic Ability Practice MCQ Question and Answer</h1>
      </div>
      <div class="col-xs-12">
        <div class="crumbs">
          <span [routerLink]="'/'" role="button">
            <a title="Home"><span itemprop="name">Home</span></a>
          </span>
          <span class="crumbs-span m-1">/</span>
          <span [routerLink]="'/sub-category'" role="button">
            <span class="current" itemprop="name">Arithmetic Ability</span>
          </span>
          <span class="crumbs-span m-1">/</span>
          <span>
            <span class="current text-dark" itemprop="name">Average</span>
          </span>
        </div>
      </div>
    </div>
    <!-- End row -->
  </section>
  <!-- End container -->
</div>
<div class="main w-75 pd_left">
  <div class="col-md-12 p-5 pt-0">
    <div>
      <div class="page-content chapter-section card">
        <a class="active" title="Average MCQ Question and Answer - Section 1"
          >Section 1</a
        >
        <a title="Average MCQ Question and Answer - Section 2">Section 2</a>
        <a title="Average MCQ Question and Answer - Section 3">Section 3</a>
        <a title="Average MCQ Question and Answer - Section 4">Section 4</a>
        <a title="Average MCQ Question and Answer - Section 5">Section 5</a>
      </div>
    </div>

    <div class="card">
      <article class="question single-question question-type-normal">
        <h2>
          <div class="question-number">1.</div>
          <div class="question-main">
            The average age of seven boys sitting in a row facing North is 26
            years. If the average age of the first three boys is 19 years and
            the average age of the last three boys is 32 years, what is the age
            of the boy who is sitting in the middle of the row?
          </div>
        </h2>

        <div class="question-inner">
          <div class="form-style form-style-3">
            <div class="form-inputs clearfix question-options">
              <p>
                <label class="color" for="poll-103359-1">A. </label>
                <input
                  type="radio"
                  name="poll-radio-103359"
                  id="poll-103359-1"
                />
                <label for="poll-103359-1">24 years</label>
              </p>
              <p>
                <label for="poll-103359-2">B. </label>
                <input
                  type="radio"
                  name="poll-radio-103359"
                  id="poll-103359-2"
                />
                <label for="poll-103359-2">28 years</label>
              </p>
              <p>
                <label for="poll-103359-3">C. </label>
                <input
                  type="radio"
                  name="poll-radio-103359"
                  id="poll-103359-3"
                />
                <label for="poll-103359-3">29 years</label>
              </p>
              <p>
                <label for="poll-103359-4">D. </label>
                <input
                  type="radio"
                  name="poll-radio-103359"
                  id="poll-103359-4"
                />
                <label for="poll-103359-4">31 years</label>
              </p>

              <p class="hidden">
                <input type="hidden" id="answer_103359" value="3" />
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div
            class="col-xs-12"
            id="save_alert_103359"
            style="display: none"
          ></div>
        </div>
        <div class="question-bottom">
          <a href="javascript:void(0);" class="box">Answer &amp; Solution</a>
          <a class="save-post" href="javascript:void(0);"
            ><span><i class="icon-save"></i> Save for Later</span></a
          >
        </div>

        <div class="row answer_container" style="display: none">
          <div class="col-md-offset-1 col-md-10">
            <div class="page-content">
              <div class="boxedtitle page-title">
                <h2 class="t_left">Answer &amp; Solution</h2>
              </div>
              <div>
                <span class="color">Answer:</span><strong> Option C</strong>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
